/**** GoreSlider CSS ****/

.goreslider {
    z-index:1;
}

.goreslider-previous, 
.goreslider-next {
    filter : alpha(opacity=60);
}

.goreslider-previous:hover, 
.goreslider-next:hover {
    filter : alpha(opacity=100);
}

.goreslider .goreslider-control a.goreslider-control-thumb {
    display: inline;
    zoom: 1;
}
