/**** GoreSlider CSS ****/

.goreslider {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; /* updated in JS */
    background-size: 100% 100%;
}

.goreslider-previous, 
.goreslider-next {
    height: 100%;
    /* width defined in JS */
    background-size: 80% auto;
    background-repeat: no-repeat;
    filter : alpha(opacity=60);
    opacity: 0.6;
}

.goreslider-previous:hover, 
.goreslider-next:hover {
    cursor: pointer;
    opacity: 1.0;
    filter : alpha(opacity=100);
}

.goreslider-next {
    background-position: right center;
    background-image: url('../images/arrow_right.png');
}
.goreslider-next:not(td) {
    float: right;
}

.goreslider-previous {
    background-position: left center;
    background-image: url('../images/arrow_left.png');
}
.goreslider-previous:not(td) {
    float: left;
}

.goreslider-pause {
    height:14px;
    background-position: left top;
    background-image: url('../images/pause_s.png');
    background-repeat: no-repeat;
    display: none; /* will be changed with JS */
}
.goreslider-pause:not(td) {
    width: 14px;
    position: absolute;
    top: 0;
    left: 0;
}

.goreslider img:not(.control-img) {
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 0;
    border: 1px solid #ABABAB;
}

.goreslider-control {
    text-align: center;
}
td.goreslider-control {
    padding-top: 10px;
}
.goreslider-control:not(td) {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.goreslider .goreslider-control a.goreslider-control-thumb {
    border: 2px solid transparent;  /* l'épaisseur doit être répercutée sur le JS */
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    max-height: 100px;
    padding: 0;
    margin: 3px;
}

.goreslider .goreslider-control .goreslider-control-thumb.active,
.goreslider .goreslider-control .goreslider-control-thumb:hover{
    border-color: #333333;
    cursor: pointer;
}