/**** GoreSlider CSS ****/

.goreslider {
    position: relative;
    
    z-index:1;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; /* updated in JS */
    background-size: 100% 100%;
}

.goreslider-previous, 
.goreslider-next {
    height: 100%;
    /* width defined in JS */
    background-size: 20% auto;
    background-repeat: no-repeat;
    filter : alpha(opacity=60);
    opacity: 0.6;
}
.goreslider-previous:hover, 
.goreslider-next:hover {
    cursor: pointer;
    opacity: 1.0;
    filter : alpha(opacity=100);
}
.goreslider-next {
    float: right;
    background-position: right center;
    background-image: url('../images/arrow_right.png');
}
.goreslider-previous {
    float: left;
    background-position: left center;
    background-image: url('../images/arrow_left.png');
}
.goreslider-pause {
    height:14px;
    width: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background-position: left top;
    background-image: url('../images/pause_s.png');
    display: none;
}

.goreslider img:not(.control-img) {
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 0;
    border: 1px solid #ABABAB;
}

.goreslider-control {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.goreslider .goreslider-control a.goreslider-control-thumb {
    border: 2px solid transparent;  /* l'épaisseur doit être répercutée sur le JS */
    background-position: center center;
    background-repeat: no-repeat;
    display: inline;
    zoom: 1;
    max-height: 100px;
    padding: 0;
    margin: 3px;
}

.goreslider .goreslider-control .goreslider-control-thumb.active,
.goreslider .goreslider-control .goreslider-control-thumb:hover{
    border-color: #333333;
    cursor: pointer;
}